@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Hello, world!</h1>
                    <canvas id="screen" width="500" height="500"
                    style="border:1px solid #c3c3c3;"></canvas>

    

    </div><br>

    <br>
    <script src="forts.js" type = "module"></script>
    <p>The time on the server is @DateTime.Now</p>
</div>
